nav a{
    margin-left: 10px;
}
/* Home file */
.home-container{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 10px;
}
.tshirt-items{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 10px;
    background-color: antiquewhite;
    width: 600px;
}

/* t-shirt-item file */
.t-shirt-item img{
    height: 50px;
    width: 50px;
}